$primary-color: #601878;
$primary-color2: #971ec0;
$primary-color-hover: #680d9c;

$font-light: #d4d1d1;
$font-dark: #000;
$font-grey: #9b9b9b;
$font-light-hover: #f3f3f3;

$border-grey-light: #444242;
$border-light-dark: #757373;

$background-light: #fff;
$background-dark: #000;
$background-grey: #333030;
$background-grey-light: #3c3c3c;
$background-grey-dark: #171418;
$background-grey-dark-light: #141414;
$background-greu-medium: #1c1c1c;

$background-primary: #601878;
$background-primary-color-hover: #671f80;
$background-dark-hover: #141414;
$background-grey-hover: #3c3c3c;
$background-grey-light-hover: #6d6a6a;

$danger: #dd1212;
